<nav>
    <div class="nav-ele nav-ele-left">
        <a href="/home" class="nav-ele-cont">
            <img src="/icons/home_icon.png" alt="" class="nav-ele-icon">
            <p class="nav-ele-text">Home</p>
        </a>
    </div>
    <div class="nav-ele nav-ele-right">
        <a href="/signup" class="nav-ele-cont">
            <img src="/icons/signup_icon.png" alt="" class="nav-ele-icon">
            <p class="nav-ele-text">Sign Up</p>
        </a>
    </div>
    <div class="nav-ele nav-ele-right">
        <a href="/login" class="nav-ele-cont">
            <img src="/icons/login_icon.png" alt="" class="nav-ele-icon">
            <p class="nav-ele-text">Login</p>
        </a>
    </div>
</nav>