hr{
    width: 50%;
    border-color: rgba(0, 182, 182,0.5);
}
p{
    font-size: 20px;
    margin: 1%;
}
a{
    text-underline-offset: 20%;
    text-decoration-thickness: 1px;
    color: blueviolet;
}